<div class="pagination flex gap-4 justify-center">
    <% for (const num of pagination.nav) { %> <% if (num === '...') { %>
    <span class="dots flex align-center">...</span>
    <% } else { %>
    <btn
        hx-get="<%= pagination.basePath %>?p=<%= num %>"
        hx-select="#leaderboard"
        hx-target="#leaderboard"
        hx-swap="outerHTML"
        hx-replace-url="true"
        class="btn <%= num === pagination.current ? 'primary' : 'text' %>">
        <%= num %>
    </btn>
    <% } %> <% } %>
</div>
