<section id="recentPassesCard" class="card lighter padded passes flex col gap-16">
    <div>
        <h2 class="header">monthly progress</h2>
    </div>
    <div>
        <canvas id="monthlyGraph"></canvas>
        <script>
            function loadMonthlyGraph() {
                // Prepare data
                const data = JSON.parse(
                    '<%- JSON.stringify(historyMonthly.map(m => ({ month: m.month, delta: Math.max(0, m.delta.count_completed) }))) %>'
                );
                if (data.length < 2) data.push(data[0]);
                // Render graph
                renderGraph(document.getElementById('monthlyGraph'), {
                    labels: data.map(dp => dp.month),
                    datasets: [
                        {
                            values: data.map(dp => dp.delta)
                        }
                    ],
                    tooltipCallbacks: {
                        label: context => `${context.parsed.y.toLocaleString()} new passes`
                    },
                    showX: true,
                    showY: true,
                    showGrid: true,
                    height: 250
                });
            }
            safelyRunOnLoad(loadMonthlyGraph);
        </script>
    </div>
    <div>
        <h2 class="header">recent passes (<%= n(recentPasses.length) %> in the past 24 hours)</h2>
    </div>
    <div class="beatmapNarrowContainer flex col gap-2">
        <% if (recentPasses.length === 0) { %>
        <div class="empty">No passes found.</div>
        <% } %> <% for (const pass of recentPasses) { %> <%- include('../beatmap/narrow', { beatmap: pass.beatmap, time:
        `Passed ${pass.timeSincePass} for ${n(pass.beatmap.xp)} cxp` }) %> <% } %>
    </div>
</section>
