<section id="yearlyStats" class="flex col gap-8">
    <div class="btnGroup">
        <btn
            hx-get="?yearly_type=maps"
            hx-select="#yearlyStats"
            hx-target="#yearlyStats"
            hx-indicator="#yearlyStats"
            class="btn <%= yearlyType == 'maps' ? 'primary' : '' %> small">
            <span class="label">map count</span>
        </btn>
        <btn
            hx-get="?yearly_type=xp"
            hx-select="#yearlyStats"
            hx-target="#yearlyStats"
            hx-indicator="#yearlyStats"
            class="btn <%= yearlyType == 'xp' ? 'primary' : '' %> small">
            <span class="label">cxp</span>
        </btn>
    </div>
    <div class="yearlyStatsContainer">
        <% for (const yearData of yearly) { %> <%- include('../statsYearEntryLine', { ...yearData, yearlyType:
        yearlyType }) %> <% } %>
    </div>
    <!-- Handle year button clicks -->
    <script>
        (() => {
            const yearlyEls = document.querySelectorAll('.yearlyStatsEntry');
            yearlyEls.forEach(el => {
                const year = el.dataset.year;
                el.addEventListener('click', () => {
                    const title = `${year} completion details`;
                    showDynamicPopup(title, `?partial=yearly_popup&year=${year}`, [{ label: 'Close' }], {
                        closedby: 'any',
                        width: 900,
                        height: 900
                    });
                });
            });
        })();
    </script>
</section>
