<link rel="stylesheet" href="<%- asset('/assets/css/leaderboard.css') %>" />
<div id="leaderboard" class="flex col gap-16 loading-fade">
    <section id="leaderboardContent" class="card padded flex col gap-12">
        <%- include('../partials/pagination') %>
        <div class="entries flex col gap-4">
            <!-- prettier-ignore -->
            <% for (const entry of leaderboard) { %> 
                <%-
                    include('../partials/leaderboardEntry', { 
                        category, 
                        user: entry.user, 
                        rank: entry.rank,
                        stats: [
                            { key: 'completion xp', value: n(entry.stats.xp), primary: true, wide: true }, 
                            { key: '% completed', value: `${n(entry.stats.percentage_completed, 2)}%` },
                            { key: 'maps passed', value: n(entry.stats.count_completed) }
                        ],
                        bar: {
                            percent: entry.stats.percentage_completed,
                            color: entry.stats.percentage_completed_color
                        },
                        highlight: me?.id == entry.user.id
                    })
                %>
            <% } %>
        </div>
        <%- include('../partials/pagination') %>
    </section>
</div>
